/* Box Sytle Start */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* Box Sytle Stop */

.container {
    
}
/* Body Style Start */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* display: flex; */
    /* flex-direction: row; */
    line-height: normal;
}
/* Body Style Stop */

/* Header Style Start */
.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: slategray;
    color:  black;     
    /* display: inline;
    justify-self: stretch;
    align-items: inherit; */
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    padding: 0px 20px 5px 40px;
    background-color: rgba(255, 255, 255, 0.507);
}

.header h1 .M {
    color: rgb(49, 63, 109);
}

.header h1 .G {
    color: rgb(49, 63, 109);
}

.header nav ul li {
    display: inline;
}

.header nav {
    margin: 10px 30px;
    font-weight: lighter;
    font-size: 22px;
    float: right;
    display: flex;
}

.header a {
    text-decoration: underline;
    color: aliceblue;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.header a:hover {
    background-color: rgba(204, 205, 206, 0.26);
}
/* Header Style Stop */

/* Hero Style Start */
.hero {
    height: 200px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("../images/gray-shade.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero a {
    margin: 15px;
    padding: 8px;
    color: white;
    background-color: slategray;
    background-position: center;
    position: sticky;
    top: 37%;
    left: 90%;
}
/* Hero Style Stop */


/* Main Style Start */

.main {
    margin: 0;
    width: 100%;
    height: 1000px;
    border: 2px solid #ccc;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 18.25% 30% 30% 18.25%;
    grid-template-rows: repeat(5, 150px) 200px;
    /* justify-content: center; */
    /* align-content: center; */
    color: black;
}

.box {
    /* grid-area: content;
    position: relative; */
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

/* .about-me {
    margin: 0 20px 0 20px;
    clear: both;
    position: flex;
} */

.box-1 {

    margin: 10px;
    padding: 0 10px 0 0;
    flex: 1;
    text-align: right;
    font-size: 40px;
    border-right: 5px;
    border-right-color: aqua;
    border-right-style: solid;
    float: left;
    grid-column: 1;
    grid-row: 1;
}

/* br {
    display: inline;
    margin: 20px;
} */

.box-2 {
    margin: 10px;
    text-align: left;
    text-overflow: clip;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    /* float: left; */
    grid-column: 2 / 3;
    grid-row: 1;
    word-wrap: break-word;
    width: 500px;
    background-color: slategray;

}


.box-3 {
    margin: 10px;
    padding: 0 10px 0 0;
    flex: 1;
    text-align: right;
    font-size: 40px;
    border-right: 5px;
    border-right-color: aqua;
    border-right-style: solid;
    float: left;
    grid-column: 1 / 1;
    grid-row: 2 / 6;
}

.box-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2 / 4;
    background-color: slategray;

}

.box-5 {
    grid-column: 3;
    grid-row: 4;
    background-color: slategray;

}

.box-6 {
    grid-column: 2;
    grid-row: 4;
    background-color: slategray;

}

.box-7 {
    grid-column: 2;
    grid-row: 5;
    background-color: slategray;

}

.box-8 {
    grid-column: 3;
    grid-row: 5;
    background-color: slategray;

}



/* Section Style Start */
/* section {
    margin: 5px;
    position: flex;
    display: inline;
} */

/* aside h4 {
    height: 750px;
    width: 200px;
    margin: 10px;
    padding: 0px 10px 0px 40px;
    text-align: right;
    font-size: 40px;
    border-right: 5px;
    border-right-color: aqua;
    border-right-style: solid;
    float: left;
    position: static;
} */

/* .box1 {
    height: 315px;
    width: 630px;
    padding: 20px;
    background-color: slategray;
    border: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
    top: -20px;
} */

/* #surf-report {
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    text-align: center;
} */

/* .box2 {
    height: 200px;
    width: 315px;
    padding: 20px;
    background-color: slategray;
    border: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
    align-self: flex-start;
} */

/* .box3 {
    height: 200px;
    width: 315px;
    padding: 20px;
    background-color: slategray;
    border: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
} */

/* .box4 {
    height: 200px;
    width: 315px;
    padding: 20px;
    background-color: slategray;
    border: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
} */

/* .box5 {
    height: 200px;
    width: 315px;
    padding: 20px;
    background-color: slategray;
    border: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
} */


/* Main Style Stop */

/* Footer Style Start */
/* .footer { */
    /* padding: 30px;
    margin-top: 20px; */
    /* clear: both; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* display: inline-block; */
    /* position: relative; */
/* } */

.box-9 {
    margin: 10px;
    padding: 0px 10px 0px 40px;
    flex: 1;
    text-align: right;
    font-size: 40px;
    border-right: 5px;
    border-right-color: aqua;
    border-right-style: solid;
    grid-column: 1;
    grid-row: 6;
}

.box-10 {
    grid-column: 2 / 3;
    grid-row: 6;
}

.box-10 nav {
    /* margin: 10px 30px; */
    font-weight: lighter;
    font-size: 22px;
    /* float: right; */
}

/* .box-10 nav ul li {
    display: ;
} */

.box-10 a {
    text-decoration: underline;
    color: black;
    padding: 0 10px 0 10px;
    cursor: pointer;
    text-align-last: justify;
    margin: 10px 10px;
    font-weight: lighter;
    font-size: 22px;
    /* float: right; */
    /* display: inline; */
    /* position: relative; */
}

.box-10 li {
    display: inline;
    float: right;
}
.box-10 a:hover {
    background-color: rgba(204, 205, 206, 0.26);
}
/* Footer Style Stop */