/* Box Sytle Start */
*{
    box-sizing: border-box;

    /* flex: 1 100%; */
}

/* Body Style Start */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: normal;    
    min-height: 100vh;
    margin: 0;

    /* Flex Style */
    display: flex;
    flex-direction: column;
}
/* Body Style Stop */

/* Header Style Start */
.header-container {
    /* Flex Style */
    display: flex;
    flex-direction: row;
}

.header-container header{
    background-color: gray;   

    /* Flex Style */
    flex: 1;
}

.header-container div {
    /* Flex Style */
    flex: 1;
}

.header-container div .header-container div h1 {
    background-color: rgb(107, 175, 207);
    background-size: cover;
    color:  black;    
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 34%;
}

.header-container h1 .M {
    color: rgb(49, 63, 109);
}

.header-container h1 .G {
    color: rgb(49, 63, 109);
}

.header-link-list {
    /* Flex Style */
    align-self: center;
    display: flex;    
    justify-content: center;
}

.header-container nav ul a {
    /* Flex Style */
    align-items: center;    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.header-container ul {
    margin: 10px 30px;
    font-weight: lighter;
    font-size: 25px;
}

.header-container a {
    color: aliceblue;  
    /* text-decoration: underline; */
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.header-container a:hover {
    background-color: rgba(204, 205, 206, 0.26);
}

.resume:hover:before {
    content: "No ";
}

.resume span:hover {
    display: none;
}
/* Header Style Stop */

/* Hero Style Start */
.hero-container {
    background-image: url("../images/gray-shade.jpg");
    background-size: cover;
    background-position: center;    
    max-height: auto;
    min-height: calc(100vh - 60vh);
    max-height: 5%;
    margin-bottom: 25px;

    /* flex Styling for Hero */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-container a {
    margin: 15px;
    padding: 8px;
    color: white;
    background-color: slategray;
    left: 35%;
    top: 35%;
    height: fit-content;
}

.hero-container img {
    top: 5%;
    left: 1%;
    margin: 15px;
    max-height: 300px;
}

/* Hero Style Stop */


/* Main Style Start */

.about-me-container {
    min-height: calc(100vh - 70vh);
    margin-bottom: 20px;    

    /* Flex Style */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-me-container nav {
    border-right: 5px;
    border-right: aqua solid;

    /* flex Style */
    flex: 0 0 20vw;   
    order: -1;
}
.about-me-container nav p {
    margin-left: 25px;
    text-align: right;
    font-size: 40px;
    font-weight: bold; 
    margin-top: 0;
}

.about-me-container p {
    text-align: justify;
    font-size: 26px;
    padding: 0 20px 0;
    line-height: 1.5;
    color: black;

    /* Flex Style */
    flex: 1;
}

/* Work Section */
.work-container {
    min-height: calc(100vh - 60vh);
    margin-top: 20px;

    /* flex Style */
    flex-direction: row;
    display: flex; 
}

.work-container nav {
    border-right: 5px;
    border-right: aqua solid;

    /* flex Style */
    flex: 0 0 20vw;   
    order: -1;
}

.work-container nav p {
    text-align: right;
    font-size: 40px;
    font-weight: bold;     
    padding-right: 25px;
    margin-top: 0;
}

.work-container p {
    color: black;      
    font-size: 30px;
    line-height: 1.5;    
    text-align: center;
    padding: 0 20px 0;

    /* flex Style */
    flex: 1;
}

.work-container div {
    flex: 1;
    margin: 5px;
    padding: 4px;
}

.work-container .work-container div {
    font-size: 25px;
    text-decoration: none;
    text-shadow: lightblue;    
    background-size: 100% 100%;
    background-position: center;
    background-size: 50%;
    filter: brightness(90%);
}

.work-container .work-container div:hover {
    filter: brightness(100%)
}

.work-container .work-container div .work-container div {
    background-color: aqua;
    min-height: 10vh;    

    /* flex Style */
    align-self: flex-end;
    flex: 0 0 300px;
}
.work-container div p {
    font-size: 15px;
    list-style: none;
}

.surf-report {
    background-image: url("../images/scenery.jpg");
    border: 5px;
    border-color: aqua;
    border-style: solid;
    max-width: none;
}

.led-wall {
    background-image: url("../images/Winston.jpg");
    border: 5px;
    border-color: aqua;
    border-style: solid;
    max-width: none;
}

.calculator {
    background-image: url("../images/mia.jpg");
    border: 5px;
    border-color: aqua;
    border-style: solid;
    max-width: none;
}

.pastel-puzzles {
    background-image: url("../images/leo.jpg");
    border: 5px;
    border-color: aqua;
    border-style: solid;
    max-width: none;
}

.horiseon {
    background-image: url("../images/lavender.jpg");
    border: 5px;
    border-color: aqua;
    border-style: solid;
    max-width: none;
}
/* Work Syle End */


/* Footer Style Start */
.contact-me-container {
    align-items: center;
    min-height: calc(100vh - 50vh);

    /* Flex Style */
    flex-direction: row;
    display: flex; 
}

.contact-me-container nav {
    border-right: aqua solid !important;
    border-right: 5px;
    height: 300px;

    /* Flex Style */
    flex: 0 0 20vw;   
    order: -1;
}

.contact-me-container nav p {
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 0;
}

.contact-me-container p {
    color: black;
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
    padding: 0 20px 0;

    /* Flex Style */
    flex: 1;
}

.contact-me-container div {
    align-self: center;
    /* justify-items: center; */
    padding-left: 1%; 
    /* Flex Style */
    flex: 1;
}

.contact-me-container article .contact-me-container a:hover {
    background-color: rgba(67, 69, 70, 0.377);
}

.contact-me-container a {
    color: black;  
    font-size: 25px;
    /* text-decoration: underline; */
    padding: 10px;
    cursor: pointer;
}

/* .header-container a:hover {
    background-color: rgba(204, 205, 206, 0.26);
} */
/* Footer Style Stop */


/* Additional Styling */

/* Aside Style */
aside {
    flex: 0 0 10vw;
}

article {
    flex: 1;
}

@media screen and (max-device-width: 900px) {
    .header-container {
        flex-direction: column;
    }
    .hero-container {
        flex-direction: column;
    }
    .about-me-container {
        flex-direction: column;
    }
    .work-container {
        flex-direction: column;
    }
    .contact-me-container {
        flex-direction: column;
    }
}


/* End Styles */